
<!doctype html>
<html ng-app="techsessieApp">                   <!-- $rootScope -->
  <head>...</head>
  <body>
    <div ng-controller="ExampleController">         <!-- $scope { name: 'Wereld' } -->
      Hallo Wereld!
      <div ng-controller="DemoController">            <!-- $scope { name: 'Gert', items: [1, 2, 3] } -->
        <ul>
          <li ng-repeat="item in items">Gert 1</li>
          <li ng-repeat="item in items">Gert 2</li>
          <li ng-repeat="item in items">Gert 3</li>
        </ul>
      </div>
    </div>
  </body>
</html>
