<div class="row-fluid">
  <div class="span4">
    <h1>Controllers</h1>
    <ul>
      <li>Manipulatie van scope data</li>
      <li>Plaats voor business logica</li>
      <li>Communiceert alleen met services</li>
      <li>Uitstekend te unit-testen</li>
    </ul>
  </div>

  <div class="span8">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#usage" data-toggle="tab">Aanroep</a></li>
      <li><a href="#definition" data-toggle="tab">Definitie</a></li>
      <li><a href="#injection" data-toggle="tab">Service injectie</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="usage">
        <div hljs include="'code_snippets/controllers-usage-route.js'" language="javascript"></div>
        <div hljs include="'code_snippets/controllers-usage-template.html'"></div>
        <div hljs include="'code_snippets/controllers-usage-directive.js'" language="javascript"></div>
      </div>

      <div class="tab-pane" id="definition">
        <div hljs include="'code_snippets/controllers-definition.js'"></div>
        <div class="row-fluid">
          <div class="span7" hljs include="'code_snippets/controllers-definition.html'"></div>
          <div class="span5 preview" ng-include="'code_snippets/controllers-definition.html'"></div>
        </div>
      </div>

      <div class="tab-pane" id="injection">
        <div hljs include="'code_snippets/controllers-injection.js'"></div>
      </div>
    </div>
  </div>
</div>
