<h1>Uurtje Factuurtje Online</h1>

<div class="row">
  <fieldset class="span8">
    <legend>Uren overzicht</legend>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th class="sortable" ng-click="orderBy('date')">Datum</th>
          <th class="sortable" ng-click="orderBy('hours')">Uren</th>
          <th class="sortable" ng-click="orderBy('customer.name')">Klant</th>
          <th class="sortable" ng-click="orderBy('description')">Beschrijving</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="hours in hoursList | orderBy:ordering">
          <td>{{ hours.date }}</td>
          <td>{{ hours.hours }}</td>
          <td>{{ hours.customer.name }}</td>
          <td>{{ hours.description }}</td>
        </tr>
      </tbody>
    </table>
  </fieldset>
  <fieldset class="span4">
    <legend>Uren invoeren</legend>

    <form ng-submit="addHours(hours)">
      <label for="customer">Klant:</label>
      <select name="customer"
              id="customer"
              ng-model="hours.customer"
              ng-options="customer.name for customer in customers"
              class="span4"
              required></select>

      <div class="row">
        <div class="span2">
          <label for="date">Datum:</label>
          <input type="date" name="date" id="date" ng-model="hours.date" class="span2" required>
        </div>
        <div class="span1">
          <label for="hours">Uren:</label>
          <input type="number" name="hours" id="hours" ng-model="hours.hours" class="span1" min="0" step="0.25" required>
        </div>
      </div>

      <label for="description">Beschrijving:</label>
      <textarea class="span4" name="description" id="description" ng-model="hours.description" rows="3" required></textarea>

      <button type="submit" class="btn btn-primary">Opslaan</button>
    </form>
  </fieldset>
</div>
