<h1>Scope inheritance</h1>

<div class="row-fluid">
  <div class="span12">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#html" data-toggle="tab">HTML</a></li>
      <li><a href="#dom" data-toggle="tab">DOM</a></li>
      <li><a href="#dom2" data-toggle="tab">Shadowing</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="html">
        <div hljs include="'code_snippets/scopes-html.html'"></div>
      </div>

      <div class="tab-pane" id="dom">
        <div hljs include="'code_snippets/scopes-dom.html'"></div>
      </div>

      <div class="tab-pane" id="dom2">
        <div hljs include="'code_snippets/scopes-dom2.html'"></div>
      </div>
    </div>
  </div>
</div>
