<div class="row-fluid">
  <div class="span4">
    <h1>Services</h1>
    <ul>
      <li>Singleton</li>
      <li>Behoudt state</li>
      <li>Communicatie tussen controllers</li>
    </ul>
  </div>

  <div class="span8">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#provider" data-toggle="tab">Provider</a></li>
      <li><a href="#factory" data-toggle="tab">Factory</a></li>
      <li><a href="#service" data-toggle="tab">Service</a></li>
      <li><a href="#example" data-toggle="tab">Voorbeeld</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="provider" hljs include="'code_snippets/services-definition-provider.js'" language="javascript"></div>
      <div class="tab-pane" id="factory" hljs include="'code_snippets/services-definition-factory.js'" language="javascript"></div>
      <div class="tab-pane" id="service" hljs include="'code_snippets/services-definition-service.js'" language="javascript"></div>
      <div class="tab-pane" id="example" hljs include="'code_snippets/services-example.js'" language="javascript"></div>
    </div>
  </div>
</div>
